.nav{
    display: flex;
    justify-content: space-between;
}

.nav h1 {
    color: blueviolet;
    margin: 0;
    font-size: 40px;
}

.nav  ul {
    display: inline-flex;
    list-style-type: none;
    gap: 15px;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.nav li {
    padding-top: 15px;
}

.nav  li a {
    text-decoration: none;
    color:blueviolet
}

.nav .nav-search {
    margin-top: 5px;
    flex: 1;
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
}

.nav-search input {
    flex: 1;
    color: blueviolet;
    border: 1px solid blueviolet;
    height: 40px;
    width: 250px;
    border-radius: 5px 0px 0px 5px;
    border-right: 0px;
}

.nav-search button {
    height: 40px;
    width: 55px;
    border: 1px solid blueviolet;
    color: blueviolet;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
    border-left: 0px;
}

h1 a {
    color: blueviolet;
    text-decoration: none;
}

.suggested-result{ 
    position: absolute;
    display: list-item ! important;
    z-index: 10;
    background-color: #fff;
    width: 300px;
    top: 40px;
    border: 1px solid #ddd;
}

.suggested-result li {
    border: 1px solid #ddd;
    padding: 5px;
}

.suggested-result li a {
    cursor: pointer;
    color: blueviolet;
}
