.product-image {
    width: 100%;
    height: 400px;
    object-fit: contain;
}

.product-color{
    border: 3px solid #000;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.product-details{
    margin-top: 50px;
    margin-bottom: 80px;
}

h1, h5, h6 {
    margin-bottom: 2opx;

}
.quantity-group{
    margin-top: 20px;
}

.quantity-group button{
    padding:  10px;
}

.quantity-group input {
    width: 50px;
    padding: 10px;
}

.form-button{
    padding: 10px;
    background-color: #fff;
    color: blueviolet;
    border: 1px solid blueviolet;
    border-radius: 4px;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 5px;
}