.page-wrapper {
  min-height: 100vh;
  background-size: cover;
  position: relative;
  padding: 20px;
}

.chat-container {
  position: fixed ;
  bottom: 40px;
  right: 20px;
  z-index: 9999;
}

.chat-bubble {
  width: 60px;
  height: 60px;
  border-radius: 50px;
  background-color: blueviolet;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 10px;
  font-weight: 600;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

.chat-bubble:hover{
    background-color: rgb(79, 4, 149);
}

.chat-window {
  width: 400px;
  height: 500px;
  background-color: rgb(220, 218, 222);
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

.header {
  text-align: center;
  max-width: 700px;
  margin-top: 5px;
}

.header  h1 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: rgb(68, 7, 125);
}

.chat-messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  background-color: #fafafa;
}

.chat-message {
  max-width: 80%;
  margin-bottom: 10px;
  padding: 8px 12px;
  border-radius: 6px;
}

.user .chat-message {
  background-color: #e3f2fa; 
  margin-left: auto;
  text-align: right;
}

.assistant .chat-message {
  background-color: #e0e0e0;
  margin-right: auto;
  text-align: left;
}

.system .chat-message {
  background-color: #fff8e1;
  border: 1px solid #eee;
  margin: 0 auto;
  text-align: center;
}

.chat-loading {
  text-align: center;
  padding: 5px;
  min-height: 30px;
}


.chat-input {
  display: flex;
  align-items: center;
  border-top: 1px solid #ccc;
  padding: 10px;
  gap: 10px;
}


.chat-input input {
    width: 300px;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    
}
.chat-input button {
    height: 40px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}