<div class="page-wrapper">
  <div class="chat-container">
    <div class="chat-bubble" (click)="toggleChat()">
      Chat
    </div>

    <div class="chat-window" *ngIf="open">
      <div class="header">
        <h1>Welcome to our E-comm chat bot</h1>
      </div>
      <div class="chat-messages">
        <div *ngFor="let msg of messages" [ngClass]="msg.from">
          <div class="chat-message">
            <strong>{{ msg.from }}: </strong>{{ msg.text }}
          </div>
        </div>
      </div>

      <div class="chat-input">
        <input
          class="form-input"
          type="text"
          [(ngModel)]="userInput"
          (keyup.enter)="sendMessage()"
          placeholder="Type something..."
        />

        <button class="form-button" (click)="sendMessage()" [disabled]="loading">
          {{ loading ? 'thinking...' : 'Send' }}
        </button>
      </div>
    </div>
  </div>
</div>
