.user-auth h1 {
   font-size: 2.25rem;
   line-height: 1.1;
   margin-top: 50px;
   margin-bottom: 80px;
   font-weight: 700;
   color: blueviolet;
   letter-spacing: 0.5px;
   text-align: center;
}
.user-auth{
   margin-bottom: 100px;
}

.common-form{
   color: blueviolet;
   cursor: pointer;
}

.invalid-input{
   color: red;
   font: 12px;
   margin-top: -20px;
   text-align: left;
}

button:disabled {
   cursor: not-allowed;
}