.product-header-img{
    margin-top: 40px;
    width: 100%;
    height: 600px;
    object-fit: contain;
}

.product-list-wrapper{
    margin-top: 80px;
    margin-bottom: 80px;
    width: 100%;
}
.product-item{
    margin-bottom: 40px;
    border: 1px solid #ddd;
    margin-right: 25px;
    text-align: center;
}

.product-item img {
    height: 300px;
    object-fit: contain;
    width: 100%;
}

.product-item .product-details{
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 15px;
}

.product-item .name-head{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.product-item .product-details h6 {
    text-align: center;
}

.product-footer{
    display: flex;
    justify-content:space-between;
    padding: 10px;
}



